.popular-songs {
  background-color: #212121;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.spfy-btn {
  background: transparent;
  border-radius: 500px;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  margin: 0;
  min-width: 92px;
  padding: 8px 25px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin-right: 10px;
  float: left;
  border: 0.5px solid #b3b3b3;
}

.spfy-btn:hover {
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
  border: 1.4px solid white;
}

.row {
  margin-bottom: 3rem;
}

.song {
  /*vertical-align: middle;*/
  display: flex;
  align-items: center;
}

.plus {
  font-size: 200%;
  font-weight: 100;
  color: #b3b3b3;
}

#play {
  font-size: 150%;
  font-weight: 100;
  color:white;
}

#number {
  vertical-align: middle;
  color: #b3b3b3
}

.more {
  font-size: 150%;
  font-weight: 100;
  color:#b3b3b3;
}


/* HOVER EFFECTS */
.song:hover {
  background-color:#535353;
}

.song:hover .plus{
  color:white;
}

.song:hover .more{
  color:white;
}

#play:hover {
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}


